<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.volleynewsclientapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.android.volley.myvolleytool.VolleyApp"
        android:allowBackup="true"
        android:icon="@drawable/image49"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".textnews.activity.TextNewsDetailsActivity" />
        <activity android:name=".imagenews.activity.ImageNewsMainActivity" />
        <activity android:name=".imagenews.activity.ImageNewsDetailsActivity" />
        <activity android:name=".videonews.activity.VideoNewsMainActivity" />
        <activity android:name=".videonews.activity.VideoNewsPlayActivity" />
        <activity android:name=".textnews.activity.TextNewsDetailsImgActivity"/>
    </application>

</manifest>